.encabezado{
    justify-content: space-between;
    display: flex;
    background: #6F43FF;
    background: -moz-linear-gradient(top, #6F43FF 0%, #DED4FF 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #6F43FF 0%, #DED4FF 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #6F43FF 0%, #DED4FF 66%, #FFFFFF 100%);
    align-items: center;
    padding: 30px;
}

.texto{
    font-family: 'Monoton', cursive;
}
a{
   text-decoration: none;
   

}

.logo{
    width: 50%;
    margin-right: 10px;
    
}

.titulo{
    padding-top: 2px;
    display: flex;
    align-items: center;
    font-family: 'Monoton', cursive;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: #f2f6f8;
}